## Project Name:  VacationPy

## Objectives:
* Ultilize the gmaps module with heatmap_layer feature to create humidity distribution (profile) across the globe. 
* Search for ideal climate cities, ultilize Google API's near-by search to locate hotels around those areas of interest.
* Ultilize gmaps module with add_layer of markers to show the hotel locations.

## Quick Observations:
* Climate conditions are the keys to search for ideal vacation locations. Quite predictably, the ideal locations are in the Temperate or Coastal climate types. 
* Out of 600+ cities being analyzed, only a few have hotels within 5,000 meters (3.1 miles). Majority is in Africa (could be an ideal continent for next summer vacation).

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import warnings
warnings.simplefilter("ignore")

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
read_path = os.path.join("output_data/cities.csv")
main_frame = pd.read_csv(read_path, low_memory=False)
main_frame.head()

,City_ID,Country,Date,Latitude,Longitude,Cloudiness,Humidity,Max Temp,Wind Speed
0,0,US,1584253482,30.37,-88.56,90,93,68.00,2.35
1,1,RU,1584253623,52.20,117.55,0,68,28.71,7.34
2,2,AU,1584253623,-33.65,115.33,14,46,81.00,15.43
3,3,GL,1584253412,65.61,-37.64,41,64,-0.40,3.36
4,4,US,1584253521,42.10,-79.24,90,92,33.80,6.93

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
type(main_frame['Humidity'][1])

numpy.int64

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# store locations
locations = main_frame[['Latitude', 'Longitude']]

# Fill NaN values and convert to float
humidity = main_frame["Humidity"].astype(float)

In [5]:
main_frame["Max Temp"].max()

105.21

In [6]:
# plot gmaps
figure = gmaps.figure() # this is to make a base gmap

# add humidity layer on top of gmap
humidity_layer = gmaps.heatmap_layer(locations,
                                     weights = humidity,  # == weights
                                     dissipating = True,
                                     max_intensity = 105,
                                     point_radius = 6
                                     )
figure.add_layer(humidity_layer)
figure

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
# filter weather conditions:
maxtemp_df = main_frame.loc[(main_frame['Max Temp'] < 80) &
                             (main_frame['Max Temp'] > 70) &
                             (main_frame['Cloudiness'] == 0) &
                             (main_frame['Wind Speed'] < 10),
                              :]
maxtemp_df.dropna(how='any', inplace=True)

In [8]:
# quick dummy check to make sure the cloudiness in the entire main_frame is not 100% zero before being filtered into maxtemp_df
main_frame['Cloudiness'].describe()

count    567.000000
mean      57.426808
std       37.394722
min        0.000000
25%       20.000000
50%       72.000000
75%       91.500000
max      100.000000
Name: Cloudiness, dtype: float64

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
# store into hotel_df (= maxtemp_df)
hotel_df = maxtemp_df
hotel_df.set_index('City_ID', inplace=True)
hotel_df

,Country,Date,Latitude,Longitude,Cloudiness,Humidity,Max Temp,Wind Speed
City_ID,,,,,,,,
72,SO,1584253634,9.41,45.06,0,61,72.09,9.82
178,MX,1584253650,15.74,-96.47,0,77,78.01,4.27
198,IN,1584253654,26.95,77.82,0,25,76.10,6.67
387,BW,1584253684,-20.47,22.72,0,59,77.41,1.61
531,SN,1584253707,12.48,-16.55,0,73,75.20,9.17

In [10]:
hotel_list = []
city_list = []
for index, row in hotel_df.iterrows(): 
    targ_lat = row['Latitude']
    targ_long =  row['Longitude']
    target_coordinates = f'{targ_lat}, {targ_long}'
    target_radius = 5000 # search within 1 mile radius
    target_type = "lodging"

#   set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }
    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#     print(f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={target_coordinates}&radius={target_radius}&type={target_type}&key={g_key}')
    
    # run a request using our params dictionary
    response = requests.get(base_url, params=params).json()
    
    if response['status'] == "ZERO_RESULTS":
        hotel_list.append('None')
        city_list.append('N/A')
    else:
        hotel_name = response["results"][0]["name"]
        hotel_list.append(hotel_name)
        city_country = response["results"][0]['plus_code']["compound_code"]
        
        # after extracted city and country mixed together
        # thus city names need to be extracted
        city_country_raw = city_country.split(', ')
        city_name = city_country_raw[-2].split()
        city_list.append(city_name[-1])
        
        
hotel_df['Hotel Name'] = hotel_list
hotel_df['City'] = city_list
hotel_df

,Country,Date,Latitude,Longitude,Cloudiness,Humidity,Max Temp,Wind Speed,Hotel Name,City
City_ID,,,,,,,,,,
72,SO,1584253634,9.41,45.06,0,61,72.09,9.82,Eng Hiirey House,Oodweyne
178,MX,1584253650,15.74,-96.47,0,77,78.01,4.27,Hotel Posada San Jose,Oaxaca
198,IN,1584253654,26.95,77.82,0,25,76.10,6.67,Saleem Bhai Fruit Co.,Pradesh
387,BW,1584253684,-20.47,22.72,0,59,77.41,1.61,MONLEK GUEST HOUSE,Sehithwa
531,SN,1584253707,12.48,-16.55,0,73,75.20,9.17,Auberge du Routard,Oussouye

In [11]:
# If the value of hotel is none, data will be filtered out and thus not plot
valid_hotel_df = hotel_df[hotel_df['Hotel Name'] != 'None']
valid_hotel_df

,Country,Date,Latitude,Longitude,Cloudiness,Humidity,Max Temp,Wind Speed,Hotel Name,City
City_ID,,,,,,,,,,
72,SO,1584253634,9.41,45.06,0,61,72.09,9.82,Eng Hiirey House,Oodweyne
178,MX,1584253650,15.74,-96.47,0,77,78.01,4.27,Hotel Posada San Jose,Oaxaca
198,IN,1584253654,26.95,77.82,0,25,76.10,6.67,Saleem Bhai Fruit Co.,Pradesh
387,BW,1584253684,-20.47,22.72,0,59,77.41,1.61,MONLEK GUEST HOUSE,Sehithwa
531,SN,1584253707,12.48,-16.55,0,73,75.20,9.17,Auberge du Routard,Oussouye

In [12]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in valid_hotel_df.iterrows()]
marker_locations = valid_hotel_df[["Latitude", "Longitude"]]
marker_locations

         Latitude  Longitude
City_ID
72           9.41      45.06
178         15.74     -96.47
198         26.95      77.82
387        -20.47      22.72
531         12.48     -16.55

In [13]:
# Add marker layer ontop of heat map
# Create a marker layer using the poverty list to fill the info box

fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations,
    info_box_content = hotel_info)

fig.add_layer(markers)
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))